@import "tailwindcss";
@import url("https://raw.githubusercontent.com/Hortashaorg/auro/refs/heads/main/packages/components/theme/default.css");
@source "@kalena";

/* Local 
@import "../../packages/components/theme/default.css";
@source "../../packages/components";
*/